In [1]:
import pandas as pd
import json as js

In [9]:
df = pd.read_json('/Users/s0k01c6/Documents/MyGitRepos/Udacity-Relational_Data_Modeling/data/song_data/A/A/A/TRAAAAW128F429D538.json',lines=True)
print(df)
print(type(df))

df.head
df[["artist_id"]]

   num_songs           artist_id  artist_latitude  artist_longitude  \
0          1  ARD7TVE1187B99BFB1              NaN               NaN

   artist_location artist_name             song_id             title  \
0  California - LA      Casual  SOMZWCG12A8C13C480  I Didn't Mean To

    duration  year
0  218.93179     0
<class 'pandas.core.frame.DataFrame'>

            artist_id
0  ARD7TVE1187B99BFB1

In [14]:
df = pd.read_json('/Users/s0k01c6/Documents/MyGitRepos/Udacity-Relational_Data_Modeling/data/song_data/A/A/A/TRAAAEF128F4273421.json',lines=True)
print(df.head(1))

   num_songs           artist_id  artist_latitude  artist_longitude  \
0          1  AR7G5I41187FB4CE6C              NaN               NaN

   artist_location artist_name             song_id            title  \
0  London, England    Adam Ant  SONHOTT12A8C13493C  Something Girls

    duration  year
0  233.40363  1982